body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

h1 {font-size: 26px;}
h2 {font-size: 24px;}

.navbar {
	margin-bottom: 0;
}

.page-header {
	margin: 26px 0 18px;
}

.gap-16 {
	margin-top: 16px;
}
