body {
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
}

h1 { /* Liturgia Horarum */
	font-size: 36px;
	margin-top: 30px;
}

h2 { /* Ad Invitatorium */
	font-size: 32px;
	margin-top: 60px;
}

h3 { /* Hymnus, Psalmodia */
	font-size: 28px;
	margin-top: 30px;
}

h4 {}

p {
	margin-top: 15px;
}

.small {
	display: block;
	font-size: 80%;
	line-height: 1.4;
}

.bold {font-weight: bold;}
.light {color: #777;}
.red {color: rgb(204,0,51);}
