body {
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
}

h1 { /* Liturgia Horarum */
	font-size: 36px;
	margin-top: 30px;
	margin-bottom: 15px;
}

h2 { /* Ad Invitatorium */
	font-size: 30px;
	margin-top: 45px;
	margin-bottom: 15px;
}

h3 { /* Hymnus, Psalmodia */
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
}

h4 {}

p {
	margin-bottom: 15px;
}


.light {color: #777;}
.red {color: red;}
